#drupal-off-canvas ul.nidirect-landing-pages li {
  padding-bottom: 0;
}

#drupal-off-canvas a.nidirect-landing-page--button-back {
  border: 1px solid #fff;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 10px 0;
  padding: 10px 16px;
  color: white;
}

#drupal-off-canvas li a.nidirect-landing-pages--add-section,
#drupal-off-canvas li a.nidirect-landing-pages--add-block {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
  background-color: #555;
  color: white;
  text-decoration: none;
}

#drupal-off-canvas li a.nidirect-landing-pages--add-section > *,
#drupal-off-canvas li a.nidirect-landing-pages--add-block > * {
  text-decoration: none;
  background-color: transparent;
}

#drupal-off-canvas a.nidirect-landing-pages--add-section:hover,
#drupal-off-canvas a.nidirect-landing-pages--add-block:hover {
  text-decoration: none;
  background-color: #0a78cd;
}

