
#drupal-off-canvas a.nidirect-landing-page--button-back {
  border: 1px solid #fff;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 10px 0;
  padding: 10px 16px;
  color: white;
}

#drupal-off-canvas li a.nidirect-landing-pages-add-section,
#drupal-off-canvas li a.nidirect-landing-pages-add-block-icon {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
  background-color: #555;
  color: white;
  text-decoration: none;
}

#drupal-off-canvas li a.nidirect-landing-pages-add-section div,
#drupal-off-canvas li a.nidirect-landing-pages-add-section svg,
#drupal-off-canvas li a.nidirect-landing-pages-add-section rect,
#drupal-off-canvas li a.nidirect-landing-pages-add-block-icon img,
#drupal-off-canvas li a.nidirect-landing-pages-add-block-icon div {
  text-decoration: none;
  background-color: transparent;
}

#drupal-off-canvas a.nidirect-landing-pages-add-section:hover,
#drupal-off-canvas a.nidirect-landing-pages-add-block-icon:hover {
  text-decoration: none;
  background-color: #0a78cd;
}

